[package]
name = "forge"
version = "0.4.0"                                            # Bump para Refatoração Fase 2
edition = "2021"
authors = ["Redstone OS Team"]
description = "Industrial-Grade Microkernel for Redstone OS"
license = "MIT"

[dependencies]
# Sincronização e Concorrência (Essencial para Mutex/Spinlocks)
spin = "0.9.8"

# Manipulação de bits segura (Essencial para Flags de GDT/Paging)
bitflags = "2.4.2"

# Acesso à memória volátil (Essencial para MMIO/Framebuffer)
volatile = "0.5.1"

# Alocador de Lista Encadeada (Para o Heap futuro - Upgrade do Bump)
linked_list_allocator = "0.10.5"

# NÃO INCLUIR:
# - uart_16550 (Usamos src/drivers/serial.rs)
# - pic8259    (Usamos src/drivers/pic.rs)
# - pc-keyboard (Vamos implementar driver nativo PS/2)

[features]
default = ["serial_debug"]
serial_debug = []          # Habilita logs na porta serial

[profile.dev]
panic = "abort"
opt-level = 0
debug = true

[profile.release]
panic = "abort"
opt-level = 3
lto = true
codegen-units = 1
debug = false
strip = true      # Remove símbolos para binário menor
