[build]
target = "x86_64-redstone.json"

[unstable]
build-std = ["core", "compiler_builtins", "alloc"]
build-std-features = ["compiler-builtins-mem"]

[target.'cfg(target_os = "none")']
runner = "qemu-system-x86_64 -kernel"

rustflags = [
    "-C",
    "force-frame-pointers=yes",
    "-C",
    "codegen-units=1",
    "-C",
    "relocation-model=static",
    "-C",
    "code-model=kernel",
    "-C",
    "debuginfo=2",
    "-C",
    "link-arg=-Tlinker.ld",
]

[alias]
k = "build --release"
