[build]
target = "x86_64-redstone.json"

[unstable]
# Recompilar a biblioteca core/alloc para o nosso target customizado
build-std = ["core", "compiler_builtins", "alloc"]
build-std-features = ["compiler-builtins-mem"]

[target.'cfg(target_os = "none")']
runner = "qemu-system-x86_64 -kernel"
rustflags = [
    "-C",
    "force-frame-pointers=yes",                                                                          # Stack traces melhores
    "-C",
    "link-arg=-Tlinker.ld",
    "-C",
    "target-feature=-mmx,-sse,-sse2,-sse3,-ssse3,-sse4.1,-sse4.2,-3dnow,-3dnowa,-avx,-avx2,+soft-float",
]
